<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div>
  <app-music-meta [PreviewData]=previewDataFromServer>
  </app-music-meta>
  <audio #player controls id="player" class="audioPlayer">
    <source *ngIf="previewDataFromServer.path" src="{{previewDataFromServer.path}}" type="audio/ogg">
    <source *ngIf="previewDataFromServer.path" src="{{previewDataFromServer.path}}" type="audio/mpeg"> Your browser does not support the audio element.
  </audio>
</div>