<div class="job-report">
    <div class="jobs">
        <div class="report-img">
            <img src="../../../../assets/images/musicIcon.png" alt="Music Icon">
        </div>
        <div class="report-text">
            <div class="report-count">{{PreviewData.name}}</div>
            <div class="report-label">{{PreviewData.genre}}</div>
            <div class="report-label">{{PreviewData.artist}}</div>
            <div class="report-label">Duration: {{PreviewData.length}} Min</div>
        </div>
    </div>
</div>